<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unionpay.marcus.mycreditcarddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AccountAdditionActivity"
            android:label="@string/title_add_new_account" />
        <activity
            android:name=".providers.cmbchina.CmbChinaLoginActivity"
            android:label="@string/title_cmbchina_account" />
        <activity android:name=".providers.bankcomm.BankCommLoginActivity" />

        <service
            android:name=".service.KeepLiveService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>